@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-body bg-background-light text-text-main;
  }
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
  /* Prevent FOUT layout shifts */
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  overflow: hidden;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
}

.material-symbols-outlined.fill-1 {
  font-variation-settings: 'FILL' 1;
}